.popup__input {
    margin-top: 30px;
    min-height: 27px;
    width: 358px;
    outline:none;
    outline-offset: 0;
    border-width: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 12px;
}

@media screen and (max-width: 677px) {
    .popup__input {
        width: 238px;
    }
}