.popup__line {
    border: none; 
    background-color: #cccccc;
    height: 1px; 
    width: 358px;
    margin-top: 13px;
    margin-bottom: 0;
}

@media screen and (max-width: 677px) {
    .popup__line {
        width: 238px;
    }
}