.profile__subtitle {
    color: white;
    font-weight: normal;
    font-size: 18px;
    line-height: 122%;
    margin: 0;
    order: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 677px) {
    .profile__subtitle {
        font-size: 14px;
    }
}