.profile__add-button {
    margin-left: auto;
    height: 50px;
    width: 150px;
    border: #FFFFFF;
    background-image: url(../../../images/Add\ Button.svg);
    border: none;
    outline: none;
    background-color: transparent;
}

.profile__add-button:hover {
    opacity: 60%;
}

@media screen and (max-width: 772px) {
    .profile__add-button {
        margin-left: auto;
        margin-right: auto;
        margin-top: 36px;
        width: 282px;

        background-image: url(../../../images/Add\ Button\ big.svg);
    }
}