.profile__add-button {
    margin-left: auto;
    height: 50px;
    width: 150px;
    border: #FFFFFF;
    background-image: url(../../../images/Add\ Button.svg);
}

/*@media screen and (max-width: 960px) {
    .profile__add-button {
        background-image: url(../../../images/Add\ Button\ big.svg);
        width: 282px;
        margin: auto;
    }
}*/