.elements__row {
    width: 246px;
    min-height: 23px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}