.elements__like-button_active {
    background-image: url(../../../../images/like.svg);
    border: none;
    outline: none;
    height: 18px;
    width: 20px;
    background-color: transparent;
}

.elements__like-button:hover {
    opacity: 60%;
}