.popup__close-icon {
    position: absolute;
    background-image: url(../../../images/Close\ Icon.svg);
    height: 40px;
    width: 40px;
    top: -33px;
    right: -33px;
    background-size: contain;
}

.popup__close-icon:hover {
    opacity: 60%;
}

@media screen and (max-width: 677px) {
    .popup__close-icon {
        top: -50px;
        right: 0;
    }
}