.elements__like-button {
    border: none;
    outline: none;
    height: 18px;
    width: 20px;
    background-color: transparent;
    background-image: url(../../../images/like-white.svg);
}

.elements__like-button:hover {
    opacity: 50%;
}

.elements__like-button:active {
    background-image: url(../../../images/like-black.svg);
    opacity: 100%;
}